[mysqld]
datadir={MYSQL_PREFIX}/data
socket={MYSQL_PREFIX}/data/mysql.sock
#skip-grant-tables
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
# Settings user and group are ignored when systemd is used.
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mariadb according to the
# instructions in http://fedoraproject.org/wiki/Systemd

[mysqld_safe]
log-error={MYSQL_PREFIX}/logs/mariadb.log
pid-file={MYSQL_PREFIX}/data/mariadb.pid

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d
